* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aquamarine;
  text-align: left;
  font-family: "Comfortaa", cursive;
}

h1 {
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 40px;
  text-align: center;
  margin: 0.2em;
}

#note {
  padding: 1.3em;
  font-size: 18px;
}

.main-style-area {
  margin: 4vh auto auto auto;
  background-color: azure;
  width: 50%;
  border-radius: 30px;
  padding: 20px 10px 10px 10px;
}

.personal-details {
  border: 0.15em solid gray;
  display: block;
  margin: 1.2em;
  width: 95%;
  box-sizing: border-box;
  padding: 1.5em 1em 0em 1.5em;
  border-radius: 12px;
}

.self-info {
  border: 0.15em solid gray;
  display: block;
  margin: 1.2em;
  width: 95%;
  box-sizing: border-box;
  padding: 1.5em 1em 0em 1.5em;
  border-radius: 12px;
}

.essay-section {
  border-radius: 12px;
  border: 0.15em solid gray;
  display: block;
  margin: 1.2em;
  width: 95%;
  box-sizing: border-box;
  padding: 1.5em 1em 0em 1.5em;
}
.label {
  display: inline-block;
  margin: auto;
  height: 3em;
  vertical-align: top;
  padding: 1em 0.2em 0em 0em;
  margin: 0.5em 0.5em 0.1em auto;
  font-size: 18px;
}

.fields {
  display: inline-block;
  margin: 1em auto 0.1em 1em;
  height: 3em;
}

.input-fields {
  height: 2.2em;
  width: 100%;
  padding: 0em 0em 0em 1em;
  font-size: 17px;
}

li {
  padding: 0.4em;
  font-size: 18px;
}

.user-selection {
  font-size: 16px;
  /* margin-right: 1em; */
  padding: 0.5em;
  margin: 0.3em 0.7em 0.3em 0.3em;
}

.dropdown {
  /* height: 2.6em; */
  width: 10em;
  font-size: 17px;
  padding: 0.3em;
  margin-top: 0.5em;
  border: 0.15em solid #c0c0c0;
  border-radius: 1em;
}

textarea {
  resize: vertical;
  height: 40px;
  width: 20em;
  font-size: 15px;
  padding: 8px;
}

#upload {
  width: 8em;
  font-size: 18px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 15px;
  /* background-color: lightsteelblue; */
}

#send {
  position: relative;
  width: 10em;
  font-size: 20px;
  margin: 0.7em;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.6em;
  /* background-color: lightsteelblue; */
  left: 35%;
}

.topic {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  background-color: azure;
  margin-bottom: 10px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .main-style-area {
    margin: 0;
    width: 98%;
  }

  .essay-section {
    margin: 0px;
    width: 98%;
    padding: 7px;
  }

  textarea {
    width: 86%;
  }

  .personal-details {
    margin: 0;
    width: 98%;
    padding: 10px;
  }

  h1 {
    font-size: 30px;
    margin: 0;
  }

  li {
    font-size: 14px;
  }

  .input-fields {
    font-size: 12px;
  }
  
  .label {
    height: 0em;
    font-size: 15px;
  }

  #note {
    margin: 10px 5px;
    font-size: 14px;
  }

  .self-info {
    margin: 10px 0;
    width: 98%;
    padding: 0.3em 0.5em;
  }
}
